.container-custom {
  padding: 50px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.btn-delete {
  padding: 8px;

  border: none;
}

.pagination-wrapper {
  display: flex;
  align-items: center;

}
.Dropdown-control {
  border: none !important;
}

